<!-- Default home page -->
<div class="row t-top-header">
    <div class="large-3 columns">
        <h1><img src="images/tfavicon_64.png"></h1>
    </div>

</div>
<div ui-view></div>




<!-- Footer -->
<!--<footer class="row">-->
    <!--<div class="large-12 columns">-->
        <!--<hr />-->
        <!--<div class="row">-->
            <!--<div class="large-12 columns">-->
                <!--<p class="text-center">&copy; Copyright TravelIS</p>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</footer>-->
